<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file only exists so that PHPUnit can also be run from within the tools/phpunit
    directory. The authoritative configuration is the phpunit.xml.dist in the bundle
    root; keep both in sync or delete this one.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="../../tests/bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="false"
         failOnRisky="true"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Swiss Alpine Club Contao Login Client Bundle Test Suite">
            <directory>../../tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>../../src</directory>
        </include>
    </coverage>
</phpunit>
