:root {
  --sac-login-button-bg-color: #96060e;
  --sac-login-button-bg-color-hover: #56060a;
}

.sac-login-button-group {
  width: 100% !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  button:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: var(--sac-login-button-bg-color-hover);
    background-image: none;
    border-color: var(--sac-login-button-bg-color-hover);
  }

  button:hover {
    background-color: var(--sac-login-button-bg-color-hover) !important;
    color: #fff !important;
  }

  button:focus {
    outline: none !important;
  }

  button {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    flex-grow: 1;
    font-weight: 400;
    color: #fff;
    user-select: none;
    background-color: var(--sac-login-button-bg-color);
    border: 1px solid var(--sac-login-button-bg-color);
    padding: 0.375rem;
    margin: 0;
    font-family: inherit;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
    overflow: visible;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  button[disabled] {
    background-color: var(--sac-login-button-bg-color-hover);
    border-color: var(--sac-login-button-bg-color-hover);
    opacity: 1;
  }

  &.sac-login-button-group-lg button {
    font-size: 1rem;
  }

  > .sac-login-button-prepend {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-right: -1px;
    display: flex;
    align-items: center;
    padding: 0.375rem .5rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
  }

  &.sac-login-button-group-lg > .sac-login-button-prepend {
    padding-left: 13px;
    padding-right: 13px;
  }

  > .sac-login-button-prepend > .sac-login-button-prepend-icon {
    height: 40px;
    width: auto;
  }

  &.sac-login-button-group-lg > .sac-login-button-prepend > .sac-login-button-prepend-icon {
    height: 50px;
  }

  button.button--loading .sac-login-button-text {
    display: none;
  }

  .button--loading::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
} 