a.login-button {
    margin-top: 5px;
    margin-right:10px;
    margin-bottom: 8px;
    color: #fff;
    background-color: #427aae;
    width: 40%;
    display: inline-block;
    padding: 9px 8px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-sizing:border-box;
}
a.login-button:hover {
    color:#fff;
    background:#346694;
}

div.superlogin-powered-by {
    text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
}

div.superlogin-login-box {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
    width: 350px;
	margin:10px auto;
	padding: 15px 0;
}
