{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.sac_sso_app_error'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.sac_sso_app_check_failed'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.errorFixOne'|trans|raw }}</p>
{% endblock %}
{% block explain %}
    <p>{{ 'XPT.errorExplain'|trans|raw }}</p>
{% endblock %}

